.App {
  text-align: center;
  background-color: aliceblue;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.sections{
  display: flex;
  flex-direction: row;
}

#videoReview{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  width: 33vw;  
}

#image{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  width: 33vw;  
}

.footer{
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
}