* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  
}

header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center
}

.hero {
  background-color: #f7f7f7;
  padding: 100px;
  text-align: center;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  color: #666;
  margin-bottom: 30px;
}

.cta-button {
  display: inline-block;
  background-color: #fd8053;
  color: #fff;
  padding: 15px 30px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  transition: background-color 0.2s;
}

.cta-button:hover {
  background-color: #ff6b3b;
}